body {
    font-family: 'Luckiest Guy', cursive;
    font-size: 1.5rem;
    color: rgb(231, 231, 253);
    letter-spacing: .3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background: rgba(0, 0, 0, 0.3) url('img/5.Fondo/1.png');
    background-size: cover;
    height: 100vh;
    background-position-y: bottom;
}

canvas {
    background-color: black;
    display: block;
}

.bg-dark {
    background-blend-mode: darken;
}

.test {
    color: rgb(231, 231, 253);
}

.d-none {
    display: none;
}

.mobile {
    display: none;
}

.startscreen {
    /* z-index: 3; */
    width: 720px;
    height: 480px;
}

.startscreen:hover {
    cursor: pointer;
}

.key {
    height: 3.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.keybox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.keys {
    width: 720px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    z-index: 5;
    position: relative;
    top: 120px;
    color: #00021D;
}

.keyText {
    font-size: 1.2rem;
}

.startbutton {
    font-size: 2.5rem;
    position: relative;
    cursor: pointer;
    top: 25px;
    animation-name: startAnimation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes startAnimation {
    0% {
        color: red;
    }
    25% {
        color: yellow;
    }
    50% {
        color: blue;
    }
    100% {
        color: green;
    }
}

.layer3 {
    width: 720px;
    height: 480px;
    /* background-color: rgba(0, 0, 255, 0.354); */
    z-index: 5;
    position: absolute;
    top: 124px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


/* Smartphones */

@media only screen and (max-width: 720px) {
    canvas {
        width: 100vw;
    }
    .startscreen {
        width: 100%;
        height: calc(36.5vw * 1.7777);
    }
    body {
        background: none;
    }
    .mobile {
        display: block;
    }
    .desktop {
        display: none;
    }
    .text {
        display: none;
    }
    .key {
        height: 36px;
        margin-left: 12px;
        margin-right: 12px;
    }
    .keys {
        top: 0px;
        width: unset;
    }
    .keyText {
        display: none;
    }
    .layer3 {
        top: unset;
        width: 100%;
        height: calc(36.5vw * 1.7777)
    }
}

@media only screen and (max-width: 480px) {
    canvas {
        height: 100vh;
    }
    .key {
        height: 30px;
        margin-left: 12px;
        margin-right: 12px;
    }
}

@media only screen and (max-width: 350px) {
    canvas {
        height: 100%;
    }
    .key {
        height: 24px;
    }
}